body {
    font-family: 'Nanum Gothic', sans-serif;
    opacity: .95;
    background-image: url(https://i.pinimg.com/originals/91/bd/c3/91bdc37b2411866ca39dbe25f1f81fb4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.describe_profile {
    margin-top: 20px;
    margin-left: 30px;
    border-left: 8px solid lightslategray;
}

.describe_profile_ul {
    padding: 10px;
}

.describe_profile_li {
    list-style: none;
    padding: 5px;
}

.banner {
    text-align: center;
    padding: 10px;
    color: floralwhite;
    background: black;
    opacity: .8;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.links {
    display: inline-block;
    margin-top: 50px;
}

.githubLink, .linkedInLink {
    border: none;
}

.col-3 {
    padding: 15px;
    background: whitesmoke;
}

.links_items {
    color: black;
    margin: 5px;
}

.col-9 {
    background: whitesmoke;
}

.col-12 {
    background: whitesmoke;
}

.background {
    background: whitesmoke;
}

.footer {
    text-align: center;
}

.hashtag {
    border-radius: 3px;
    font-size: 1.5em;
    background: #ff4d66;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

article {
    margin: 40px;
}

.programmable {
    text-align: center;
}

h2 {
    color: lightslategray;
}

li {
    color: grey;
}

#wrapper {
    padding: 20px;
}

#columns {
    column-width: 350px;
    column-gap: 15px;
}

#columns figure {
    background-color: whitesmoke;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

#columns figure img {
    width: 100%;
}

#columns figure figcaption {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 11px;
}

.photo-frame {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 1em auto 2em;
}

.blockquote {
    margin-top: 20px;
    margin-left: 30px;
    border-left: 8px solid lightslategray;
}

.blockquote > ul {
    padding: 10px;
}

.blockquote > ul > li > a {
    list-style: none;
    padding: 5px;
    color: grey;
}

.photo-frame {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.row{
    min-height: 700px;
}